.tourList{
  font-family: 'Lato', sans-serif;
  color: #233C43;
}

.listHeader{
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: #589EAD;
}

.tourListImg{
  border-radius: 6%;
  width: 50%;
  padding-top: 6px;
}

