#headline {
  margin: 50px;
  font-family: "Raleway", sans-serif;
  color: #589ead;
}

#tourcontainer {
  width: 80%;
}

#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}
