h1 {
  font-size: 40px;
  margin-left: 10px;
}

#townly-head {
  opacity: 1;
  color: #fdf5ec;
}

#nav {
  background-color: #e8821c;
  font-family: "Satisfy", cursive;
  opacity: 0.68;
  margin: 0 auto;
  padding: 5px;
  color: #d94f30;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  /* text-align:right; */
}
#tourguide {
  font-family: "Lato", sans-serif;
  color: #fdf5ec;
  opacity: 1;
  width: 200px;
  font-weight: 900;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#currentuser {
  font-family: "Lato", sans-serif;
  color: #fdf5ec;
  opacity: 1;
  width: 200px;
  font-weight: 900;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#everyoneslinks {
  font-family: "Lato", sans-serif;
  color: #fdf5ec;
  opacity: 1;
  width: 200px;
  font-weight: 900;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#account {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  width: 200px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
