.sign-up-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

h3 {
  color: #589EAD;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  margin: 50px;
  opacity: 0.6;
}

#sign-up-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

.sign-up-input {
  margin: 15px;
  border: none;
  width: 250px;
  font-size: 15px;
  border-bottom: 2px solid #e8821c;
  text-align: center;
  background-color: #fdf5ec;
  color: #e8821c;
}

#checkbox {
  padding-top: 10px;
  font-weight: bold;
  opacity: 0.6;
}

.submit {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #fdf5ec;
  color: #e8821c;
  border: 2px solid #e8821c;
  border-radius: 5px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 20px;
  }
  .sign-up-input {
    font-size: 12px;
  }
}
