.sign-up-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  margin: 50px;
  opacity: 0.6;
}

#checkbox {
  padding-top: 10px;
  font-weight: bold;
  opacity: 0.6;
}

.submit {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #fdf5ec;
  color: #e8821c;
  border: 2px solid #e8821c;
  border-radius: 5px;
  padding: 10px;
}
