.paper {
  height: 400px;
  /* mediaquery to make height smaller so doesnt morph image*/

  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

#info {
  padding-left: 80px;
}

#details {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#toptourname {
  font-family: ‘Raleway’, sans-serif;
}

#toptourguide {
  font-family: ‘Lato’, sans-serif;
}

#topdesc {
  width: 60%;
}

#image {
  width: 50%;
  height: 100%;
}

#button {
  border: 2px solid #e8821c;
  opacity: 0.7;
}

#tourtext {
  text-align: left;
}
